.center-img{
    zoom: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(194, 248, 250);
    padding: 10px;
    border-radius: 6px;
}
.center{
    text-align: center;
}


.background{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman';
}

.button-exit{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(195, 248, 250);
    width: 450px;
    padding: 8px;
    margin: auto;
    border-radius: 6px;
    color: rgb(71, 68, 62);
}

.link-main{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(195, 248, 250);
    width: 80px;
    padding: 8px;
    margin: auto;
    border-radius: 6px;
    color: rgb(71, 68, 62);

}